<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="container">
    <h1>Formulario</h1>
    <form method="POST" action="/">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label>Género:</label>
            <label><input type="radio" name="gender" value="masculino"> Masculino</label>
            <label><input type="radio" name="gender" value="femenino"> Femenino</label>
        </div>
        <div class="form-group">
            <label>Intereses:</label>
            <label><input type="checkbox" name="interests" value="deportes"> Deportes</label>
            <label><input type="checkbox" name="interests" value="arte"> Arte</label>
            <label><input type="checkbox" name="interests" value="música"> Música</label>
        </div>
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>

</div>
</body>
</html>
