<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de Agedrez</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    
</head>
<body>
<div class="container">
    <h1>****Tablero de Agedrez***</h1>
    <table>
        {% for row in range(rows) %}
        <tr>
            {% for col in range(cols) %}
            <td style="background-color: {% if (row + col) % 2 == 0 %}{{ color1 }}{% else %}{{ color2 }}{% endif %}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>


